@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova-light.eot");
  src: local("☺"), url("../fonts/proxima-nova-light.woff") format("woff"), url("../fonts/proxima-nova-light.ttf") format("truetype"), url("../fonts/proxima-nova-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova-regular.eot");
  src: local("☺"), url("../fonts/proxima-nova-regular.woff") format("woff"), url("../fonts/proxima-nova-regular.ttf") format("truetype"), url("../fonts/proxima-nova-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova-semibold.eot");
  src: local("☺"), url("../fonts/proxima-nova-semibold.woff") format("woff"), url("../fonts/proxima-nova-semibold.ttf") format("truetype"), url("../fonts/proxima-nova-semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proxima-nova-extrabold.eot");
  src: local("☺"), url("../fonts/proxima-nova-extrabold.woff") format("woff"), url("../fonts/proxima-nova-extrabold.ttf") format("truetype"), url("../fonts/proxima-nova-extrabold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kepler STD';
  src: url("../fonts/kepler-std-bold.eot");
  src: local("☺"), url("../fonts/kepler-std-bold.woff") format("woff"), url("../fonts/kepler-std-bold.ttf") format("truetype"), url("../fonts/kepler-std-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Proxima Nova";
  background-color: #ecf0f1;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0px 30px;
  border-radius: 20px;
  background-color: #f31131;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #2abe81;
}

.decor {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.decor__title {
  font-family: "Kepler STD";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #171d1c;
  margin: 0px 0px 20px 0px;
}

.decor__rhombuses {
  width: 78px;
  height: 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.header__burger {
  display: none;
}

.header__menu {
  max-width: 1170px;
  width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.header__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 0px 0px;
}

.header__list li {
  margin: 0px 128px 0px 0px;
}

.header__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.header__list_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list_right li {
  margin: 0px 0px 0px 128px;
}

.header__list_right li:last-child {
  margin: 0px 0px 0px 128px;
}

.header__list_right li:first-child {
  margin: 0px 0px 0px 0px;
}

.header__link {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.4px;
  color: #454851;
}

.header__link:hover {
  color: #2abe81;
}

.header__logo {
  display: block;
  max-width: 300px;
  margin: 0px auto;
}

.header__logo img {
  max-width: 100%;
}

.main {
  padding: 70px 0px 80px 0px;
  background: url(../img/main/bg.jpg) center top no-repeat;
}

.main-text {
  text-align: center;
  margin: 310px 0px 155px 0px;
}

.main-text__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 3px;
  color: #ffffff;
}

.main-form {
  position: relative;
  top: 80px;
  width: 970px;
  height: 160px;
  margin: 0px auto;
  background-color: #ffffff;
  padding: 40px 0px 0px 40px;
}

.main-form select {
  width: 190px;
  font-size: 16px;
  font-weight: 300;
  color: #454851;
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid #454851;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/main/icons/arrow-down.svg) top right 4px no-repeat;
  background-size: 20px;
}

.main-form input {
  width: 190px;
  font-size: 18px;
  font-weight: 300;
  color: #454851;
  padding: 0px 0px 7px 0px;
  margin: 0px 20px 0px 0px;
  border-bottom: 1px solid #454851;
}

.main-form__btn {
  display: inline-block;
  position: relative;
  top: 17px;
  width: 40px;
  height: 40px;
  background: url(../img/main/icons/arrow-right.svg) center no-repeat;
  background-size: 20px 20px;
  background-color: #f31131;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-form__btn:hover {
  background-color: #2abe81;
}

.ideas {
  padding: 50px 0px 50px 0px;
}

.ideas__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ideas__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.ideas-card {
  position: relative;
  display: block;
  width: 360px;
  height: 300px;
  margin: 0px auto;
}

.ideas-card:hover img {
  opacity: 0.5;
}

.ideas-card:hover .ideas-card-frame {
  background-color: #2abe81;
}

.ideas-card:hover .ideas-card-frame__text {
  background-color: #c52d42;
  border-top: 1px solid #2abe81;
  border-bottom: 1px solid #2abe81;
  color: #fff;
}

.ideas-card__image {
  width: 100%;
}

.ideas-card-frame {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 300px;
  height: 100px;
  background-color: #ffffff;
}

.ideas-card-frame__text {
  background-color: #ffffff;
  font-family: "Kepler STD";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #454851;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 22px 0px;
  margin: 15px 0px 0px 0px;
}

.locations {
  padding: 50px 0px 50px 0px;
}

.locations__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.locations__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.locations-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  max-width: 555px;
  height: 301px;
  margin: 0px 0px 30px 0px;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.locations-slider-1,
.locations-slider-2,
.locations-slider-3,
.locations-slider-4 {
  position: relative;
  width: 278px;
  z-index: 1;
}

.locations-slider-1__item,
.locations-slider-2__item,
.locations-slider-3__item,
.locations-slider-4__item {
  width: 278px;
  height: 232px;
}

.locations-slider-1__item img,
.locations-slider-2__item img,
.locations-slider-3__item img,
.locations-slider-4__item img {
  width: 100%;
  height: 232px;
}

.locations-slider-nav-1,
.locations-slider-nav-2,
.locations-slider-nav-3,
.locations-slider-nav-4 {
  width: 278px;
}

.locations-slider-nav-1__item,
.locations-slider-nav-2__item,
.locations-slider-nav-3__item,
.locations-slider-nav-4__item {
  width: 93px;
  height: 69px;
}

.locations-slider-nav-1__item img,
.locations-slider-nav-2__item img,
.locations-slider-nav-3__item img,
.locations-slider-nav-4__item img {
  width: 100%;
  height: 69px;
}

.locations-card-text {
  margin: 30px 0px 30px 20px;
}

.locations-card-text__title {
  font-family: "Kepler STD";
  font-size: 30px;
  font-weight: bold;
  color: #171d1c;
  margin: 0px 0px 20px 0px;
}

.locations-card-text__description {
  max-width: 240px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #454851;
  margin: 0px 0px 20px 0px;
}

.locations-card-text-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 20px 0px;
}

.locations-card-text-icons li {
  margin: 0px 10px 0px 0px;
}

.locations-card-text-icons__bed {
  width: 22px;
  height: 16px;
}

.locations-card-text-icons__number {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #454851;
}

.locations-card-text-icons__bath {
  width: 24px;
  height: 16px;
}

.locations-card-text-icons__beachfront {
  width: 16px;
  height: 17px;
}

.locations-card-text-icons__pool {
  width: 17px;
  height: 17px;
}

.advantages {
  padding: 50px 0px 50px 0px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.advantages-card__title {
  font-family: "Kepler STD";
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #171d1c;
  margin: 0px 0px 13px 0px;
}

.advantages-card__description {
  max-width: 335px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: #454851;
  margin: 0px auto;
}

.advantages-card-image {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px auto 24px;
  background: url(../img/advantages/icons/bg.jpg) center no-repeat;
}

.advantages-card-image__icon {
  position: absolute;
  top: 30px;
  left: 24px;
}

.advantages-card-image__icon_2 {
  top: 25px;
  left: 28px;
}

.advantages-card-image__icon_3 {
  top: 32px;
  left: 25px;
}

.contacts {
  padding: 50px 0px 0px 0px;
  background: url(../img/contacts/bg.png) center no-repeat;
}

.contacts-form {
  max-width: 391px;
  width: 100%;
  background-color: #fff;
  padding: 40px;
  margin: 105px 0px 0px auto;
}

.contacts-form__title {
  font-family: "Kepler STD";
  font-size: 28px;
  font-weight: bold;
  color: #1a1a1a;
  margin: 0px 0px 25px 0px;
}

.contacts-form input {
  font-size: 16px;
  max-width: 305px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin: 0px 0px 25px 0px;
  padding: 0px 5px 10px;
}

.contacts-form input::-webkit-input-placeholder {
  color: #999999;
}

.contacts-form input::-moz-placeholder {
  color: #999999;
}

.contacts-form input:-moz-placeholder {
  color: #999999;
}

.contacts-form input:-ms-input-placeholder {
  color: #999999;
}

.contacts-form__btn {
  margin: 75px 0px 0px 0px;
  display: block;
}

.footer {
  padding: 50px 0px 30px 0px;
  background-color: #171d1c;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.footer__col2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.333%;
          flex: 0 0 19.333%;
}

.footer__col3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.333%;
          flex: 0 0 19.333%;
}

.footer__col4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.333%;
          flex: 0 0 19.333%;
}

.footer__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin: 0px 0px 10px 0px;
}

.footer__copyright {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-list li {
  margin: 0px 0px 3px 0px;
}

.footer-list__link {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-list__link:hover {
  color: #2abe81;
}

.footer-list-contacts {
  margin: 0px 0px 180px 0px;
}

.footer-list-contacts li {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0px 0px 3px 0px;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .header__list li {
    margin: 0px 40px 0px 0px;
  }

  .header__list_right li:last-child {
    margin: 0px 0px 0px 40px;
  }

  .ideas-card {
    width: 300px;
    height: 260px;
  }

  .ideas-card-frame {
    width: 240px;
    height: 80px;
  }

  .ideas-card-frame__text {
    padding: 12px 0px;
  }

  .locations-slider-1,
  .locations-slider-2,
  .locations-slider-3,
  .locations-slider-4 {
    width: 250px;
  }

  .locations-slider-nav-1,
  .locations-slider-nav-2,
  .locations-slider-nav-3,
  .locations-slider-nav-4 {
    width: 250px;
  }

  .locations-slider-nav-1__item,
  .locations-slider-nav-2__item,
  .locations-slider-nav-3__item,
  .locations-slider-nav-4__item {
    width: 85px;
  }

  .locations-card-text {
    margin: 30px 5px 30px 15px;
  }

  .advantages-card__description {
    max-width: 290px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__list {
    margin: 6px 0px 0px 0px;
  }

  .main-text {
    margin: 100px 0px 30px 0px;
  }

  .main-form {
    width: 275px;
    height: 430px;
    border-radius: 10px;
    top: 0;
  }

  .main-form select {
    margin: 0px 0px 40px 0px;
  }

  .main-form input {
    margin: 0px 0px 40px 0px;
  }

  .main-form__btn {
    display: block;
    width: 190px;
    border-radius: 10px;
  }

  .ideas__row {
    display: block;
  }

  .ideas-card {
    margin: 0px auto 20px;
  }

  .locations__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .locations-card {
    margin: 0px auto 30px;
  }

  .locations-card-text {
    margin: 30px 0px 30px 20px;
  }

  .advantages__row {
    display: block;
  }

  .advantages-card {
    margin: 0px 0px 30px 0px;
  }

  .advantages-card__description {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header::before {
    background-color: #000;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #ecf0f1;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__row {
    display: block;
  }

  .header__list {
    display: block;
    margin: 0px 0px 10px 0px;
  }

  .header__list li {
    margin: 0px 0px 10px 0px;
  }

  .header__list_right li:last-child {
    margin: 0px 0px 0px 0px;
  }

  .header__list_right li:first-child {
    margin: 0px 0px 10px 0px;
  }

  .header__logo {
    display: none;
  }

  .main-text {
    margin: 15px 0px 30px 0px;
  }

  .main-text__title {
    max-width: 420px;
    margin: 0px auto;
    font-size: 55px;
    line-height: 55px;
  }

  .locations {
    padding: 20px 0px 20px 0px;
  }

  .contacts-form__btn {
    width: 305px;
    width: 100%;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .footer__col1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0px 0px 20px 0px;
  }

  .footer__col2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .footer__col3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .footer__col4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .footer-list-contacts {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 550px) {
  .locations-card {
    display: block;
    height: 600px;
    padding: 30px 0px 0px 0px;
    border-radius: 10px;
  }

  .locations-slider-1,
  .locations-slider-2,
  .locations-slider-3,
  .locations-slider-4 {
    margin: 0px auto;
  }

  .locations-slider-nav-1,
  .locations-slider-nav-2,
  .locations-slider-nav-3,
  .locations-slider-nav-4 {
    margin: 0px auto;
  }

  .locations-card-text {
    text-align: center;
    margin: 30px 20px;
  }

  .locations-card-text__description {
    max-width: 100%;
  }

  .locations-card-text-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 479.98px) {
  .locations-card {
    height: 630px;
  }

  .footer__col2 {
    display: none;
  }

  .footer__col3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .footer__col4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}